name: 02 - Workflow Event
on: 
  schedule: 
     - cron: '* * * * *'
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: |
          echo "Event name: ${{ github.event_name }}"
          
